.main__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    margin-left: 6%;
}

.main__desc .title {
    font-size: 64px;
    font-weight: 600;
}

.main__desc .desc {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 60px;
}
