#projects {
    background-color: #ff000033;
}

.project__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 60%;
    width: 25%;
    align-items: center;
    border-radius: 30px;
}

.project__logo {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid__item-img {
    height: min-content;
    width: 60%;
}

.project__title {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.more_info__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 60%;
    font-size: 28px;
    font-weight: 600;
    border-radius: 15px;
}
